In [23]:
import pandas as pd
import matplotlib.pyplot as plt

def creer_courbe_spreads_fichier(fichier_excel, emetteur=None):
    """
    Crée une courbe de spreads à partir d'un fichier Excel, en prenant la dernière émission par maturité.
    
    Args:
        fichier_excel (str): chemin du fichier Excel.
        emetteur (str, optional): Filtrer sur un émetteur spécifique si besoin.
    """

    # Lecture du fichier
    df = pd.read_excel(fichier_excel)

    # Nettoyage
    df['Emission'] = pd.to_datetime(df['Emission'])
    df['Echeance'] = pd.to_datetime(df['Echeance'])
    
    # Nettoyer la colonne 'Spread' (retirer le %, remplacer la virgule par un point)
    df['Spread'] = df['Spread'].astype(str).str.replace('%', '').str.replace(',', '.').astype(float)

    # Harmoniser la maturité (ex: convertir "52 SEM" en années, ici 1 an)
    def convertir_maturite(val):
        if 'SEM' in val:
            return 1  # 52 semaines ~ 1 an
        else:
            return int(val.split()[0])  # prendre le nombre d'années

    df['Maturite_Num'] = df['Maturite'].apply(convertir_maturite)

    # Filtrer sur l'émetteur si besoin
    if emetteur:
        df = df[df['Emetteur'] == emetteur]

    # Trier par maturité et par date d'émission décroissante
    df = df.sort_values(by=['Maturite_Num', 'Emission'], ascending=[True, False])

    # Garder la dernière émission par maturité
    df_latest = df.drop_duplicates(subset=['Maturite_Num'], keep='first')

    # Trier pour la courbe
    df_latest = df_latest.sort_values(by='Maturite_Num')

    # Tracer la courbe
    return df_latest

In [27]:
creer_courbe_spreads_fichier("Spreads.xlsx","ATW")

,Code ISIN,Emetteur,Emission,Echeance,TF,Maturite,Spread,Maturite_Num
1,152315,ATW,2025-04-27,2026-04-27,0.0251,52 SEM,0.0025,1
2,153054,ATW,2025-04-25,2027-04-25,0.0245,2 ANS,0.0030,2
4,152100,ATW,2025-04-27,2029-04-27,0.0258,4 ANS,0.0035,4
5,152101,ATW,2025-04-27,2030-04-27,0.0270,5 ANS,0.0045,5

In [17]:
df_latest

NameError: name 'df_latest' is not defined